
@import url('https://fonts.googleapis.com/css?family=Montez');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montaga');


body 
{ 
	padding-top:125px;
	padding-left:350px;
	padding-right:150px; 
	background-image:url('bg.png');
	background-position: 0px -120px;
    background-repeat: no-repeat;
    background-size: cover;
	margin-bottom: 50px;
	
}
.panel-title 
{
	display: inline;
	font-weight: bold;
}
.pl-ziro 
{ 
	padding-left: 0px; 
}



.btn {
	border-radius:35px;
	font-size: 20px;
	margin: 20px;
	box-shadow: 0px 8px 6px #737373;
  	transition: all 0.3s ease 0s;
}



.btn2 {
	display: inline-block;
  border-radius: 35px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 7px;
  height: 40px;
  width: 170px;
  transition: all 0.6s;
  cursor: pointer;
  margin: 5px;

}

.btn2 span{

cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}




.btn2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn2:hover span {
  padding-right: 25px;
}

.btn2:hover span:after {
  opacity: 1;
  right: 0;
}


.btn3 {
	border-radius:35px;
	font-size: 19px;
	margin: 22px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	transition: all 0.3s ease 0s;
}



.hed{

background-color: #000000;
height:78px;
width: 1374px;
margin-left: -358px;
margin-top: -150px;
opacity: 0.6;
    filter: alpha(opacity=100);
background-position: 50px 150px;
}


.hedd{

padding-left: 60px;
padding-top: 10px;
font-size:1.7em;
color:black;

font-family: 'montaga', sans-serif;


}
.back{

background-color: #F3EAEA;
height: 320px;
width: 350px;
margin-top: -15px;
margin-left: 130px;
margin-bottom: 80px;
box-shadow: 7px 12px 10px  #616161;

}
.input-group{


	padding-left: 70px;
}

.tt{

color: #000000;
margin-left: -325px;
font-size: 2.8em;
margin-top: -111px;
font-family: 'Montserrat', sans-serif;
}


.container{
	margin-top: 0px;
	margin-left: 100px;
	width: 820px;
	height: 00px;
	margin-top: 10px;
}

.backdone{

box-shadow: 7px 12px 10px  #616161;


}


.header{

	font
	color: : yellow;
	margin-left: -311px;
	margin-top: -129px;
}
